* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.green {
    background-color: rgb(95, 192, 51);
    height: 50px;
    width: 100px;
}

.yellow {
    background-color: rgb(248, 213, 54);
    height: 50px;
    width: 200px;
}

.red {
    background-color: red;
    height: 50px;
    width: 200px;
}