* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.menu {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 655px;
    height: 105px;
}

.list {
    width: 443px;
    height: 27px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    width: 655px;
    height: 105px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.logo__title {
    font-family: 'Six Caps', sans-serif;
    font-style: Regular;
    font-size: 64px;
    line-height: 84px;
    line-height: 100%;
}

.list__item__link {
    font-family: 'Oswald', sans-serif;
    font-style: light;
    font-size: 24px;
    line-height: 100%;
    color: black;
    text-decoration: none;
}