* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

nav {
    width: 99vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000012;
}

.menu {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 655px;
    height: 105px;
}

.list {
    width: 443px;
    height: 27px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    width: 655px;
    height: 105px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.logo__title {
    font-family: 'Six Caps', sans-serif;
    font-style: Regular;
    font-size: 64px;
    line-height: 84px;
    line-height: 100%;
}

.list__item__link {
    font-family: 'Oswald', sans-serif;
    font-style: light;
    font-size: 24px;
    line-height: 100%;
    color: black;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 141px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: grid;
    width: 1310px;
    height: 849px;
    grid-template-columns: 316px 313px 377px 243px;
    grid-template-rows: 247px 118px 78px 92px 209px;
    gap: 20px;
    grid-template-areas: "img1 img2 img3 img4"
                        "img1 img6 img3 img4"
                        "img5 img6 img3 img4"
                        "img5 img6 img8 img8"
                        "img7 img7 img8 img8";
}


.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img1;
}

.img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img2;
}

.img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img3;
}

.img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img4;
}

.img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img5;
}

.img6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img6;
}

.img7 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img7;
}

.img8 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img8;
}